* {
    margin: 0;
    padding: 0;
}

.intro p {
    font-family: fira sans;
    text-align: center;
    padding: 8px 10px;
    margin: 10px 10px;
    font-size: 30px;
    color: wheat;
}

.intro h1 {
    font-family: fira sans;
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px;
    font-size: 50px;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.466);
}

.intro ul li{
    font-family: fira sans;     
    color: wheat;
    padding: 8px 10px;
    margin: 0px 50px;  
    font-size: 20px;
}